.filter-main-nav{
    position: fixed;
    top: 72px;
    width: 100%;
    z-index: 1;
    background-color: white;
    display: flex;
    // justify-content: space-between;
    .filter-btn{
        justify-self: end;
        width: fit-content;
        background-color: white;
        color: black;
        border: solid 1px #dddddd;
        border-radius: 7px;
        
    }
}
.filter-icon-carousel{
    width: 80%;
}
.icon-filter-img{
    width: 24px;
    height: 24px;
    // color: #717171;
}

.icon-in-carousel-filter{
    color: #717171;
    cursor: pointer;
}

.icon-in-carousel-filter:hover{
    color: black;
    border-bottom: 2px solid #717171;
}

.navigate-filter-carousel{
    border-radius: 50%;
    border: solid 1px #dddddd;
    z-index: 5;
    background-color: white;
    
}


.navigate-filter-carousel:hover{
    color: black;
}