header {
    position: fixed;
    top: 0;
    width: 100%;
    @include for-mobile-layout {
        padding-left: 24px;
        padding-right: 24px;
    }
    @include for-narrow-layout {
        padding-left: 24px;
        padding-right: 24px;
    }
    @include for-small-layout {
        padding-left: 40px;
        padding-right: 40px;
    }
    @include for-normal-layout {
        padding-left: 40px;
        padding-right: 40px;
    }
    @include for-wide-layout {
        padding-left: 80px;
        padding-right: 80px;    
         
    }
    @include for-extra-wide-layout {
        padding-left: 80px;
        padding-right: 80px;
      
          
    }
    &.details{
        position: absolute;
        top: 0;
        @include for-mobile-layout {
            padding-left: 40px;
            padding-right: 40px;
        }
        @include for-narrow-layout {
            padding-left: 40px;
            padding-right: 40px;
        }
        @include for-small-layout {
            padding-left: 40px;
            padding-right: 40px;
        }
        @include for-normal-layout {
            padding-left: 140px;
            padding-right: 140px;
        }
        @include for-wide-layout {
            padding-left: 250px;
            padding-right: 250px;    
        }
        @include for-extra-wide-layout {
            padding-left: 350px;
            padding-right: 350px;    
        } 
    }
    // max-width: calc($wide-breakpoint);
    background-color: $clr6;
    padding: 16px 0;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    border-bottom: solid 1px #dddddd;
    &.big-filter{
        padding-top: 16px;
        padding-bottom: 91px;
    }

    .loggedin-user {
        width: 77px;
        height: 42px;
        background-color: $clr6;
        padding: 4px 5px 5px 12px;
        border-radius: 21px;
        // align-self: flex-end;
        color: whitesmoke;
        border: solid 1px #dddddd;
        cursor: pointer;
        display: grid;
        grid-template-columns: 27px 30px;
        span{
            background-color: rgb(113,113,113);
            // padding: 4px;
            // margin: 10px;
            border-radius: 50%; 
        }
        >:first-child{
            width: 16px;
            height: 16px;
            align-self: center;
        }
        :nth-child(2){
            >img{
                width: 30px;
                height: 30px;
                justify-self: end;
            }
        }
    }
    .loggedin-user:hover{
        box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 2px 16px rgb(0 0 0 / 15%);
    }
    
    nav {
        background-color: $clr6;
        padding: 5px 0;
        >a:hover{
            text-decoration: none;
        }
    }
    nav a:not(:first-child) {
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }
    nav .active {
        color: $clr1;
    }
   
}
.router-logo-link{
    >.airbnb-logo{
        height: 37px;
        width: 32px;
    }
    >h1{
        padding-left: 5px;
        font-size: 24px;
        font-weight: 1600;
        align-self: center;
        margin-bottom: 0;
        color: #ff385c;
        font-family: Airbnb-Cereal-Bold;
    }
}

.user-nav-bar{
    position: fixed;
    right: 80px;
    top: 70px;
    width: 240px;
    display: flex;
    flex-direction: column;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 10px;
    z-index: 9;
    background-color: white;
    box-shadow: 1px 1px 11px 1px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);    
    >a{
        outline-style: none;
        color: #222222;
        padding: 9px 14px;
        font-size: 14px;
        outline-style: none;
    }
    >a:hover{
        text-decoration: none;
        background-color: #f1efef;
    }
}

.screen-shadow{
    position: fixed;
    top: 155px;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #71717168;
    z-index: 3;
}


