header {
    position: fixed;
    top: 0;
    @include for-mobile-layout {
        
    }
    @include for-narrow-layout {
        
    }
    @include for-small-layout {
        
    }
    @include for-normal-layout {
        left: 40px;
        right: 40px;
    }
    @include for-wide-layout {
        left: 40px;
        right: 40px;    
    }
    @include for-extra-wide-layout {
        left: 80px;
        right: 80px;    
    }
    // max-width: calc($wide-breakpoint);
    background-color: $clr6;
    padding: 10px 0;
    display: flex;
    z-index: 2;
    justify-content: space-between;
    border-bottom: solid 1px #dddddd;

    .loggedin-user {
        background-color: $clr6;
        padding: 5px;
        padding-bottom: 0;
        border-radius: 1em;
        // align-self: flex-end;
        height: max-content;
        color: whitesmoke;
        border: solid 1px #dddddd;
        cursor: pointer;
        span{
            background-color: rgb(113,113,113);
            // padding: 4px;
            // margin: 10px;
            border-radius: 50%;
        }
        img {
            width: 2em;
            height: 2em;
        }
    }
    
    nav {
        background-color: $clr6;
        padding: 5px 0;
    }
    nav a:not(:first-child) {
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }
    nav .active {
        color: $clr1;
    }
    
}

.user-nav-bar{
    position: fixed;
    right: 80px;
    top: 60px;
    display: flex;
    flex-direction: column;
    z-index: 6;
    background-color: white;
}

.main-filter-btns{
    border: solid 1px #dddddd;
    border-radius: 50px;
    cursor: pointer;
}
.main-filter-btn{
    background-color: white;
    color: #222222;
    cursor: pointer;
    &.guest{
        color: #717171;
    }
}

.main-filter-search-btn{
    background-color: #ff385c;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    >.s1qcpybl{
        width: 12px;
        height: 12px; 
    }
}

.big-search-filter{
    background-color: #ebebeb;
    border-radius: 50px;
    height: 65px;
    margin-top: 70px;
}

.screen-shadow{
    position: fixed;
    top: 155px;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #71717168;
    z-index: 3;
}
