.filter-main-nav{
    position: fixed;
    // padding-left: 0;
    top: 81px;
    width: 100%;
    border-bottom: solid 1px #dddddd;
    &.big-filter{
        top: 77px;
    }
    height: 78px !important;
    @include for-mobile-layout {
        padding-left: 24px;
        padding-right: 24px;
    }
    @include for-narrow-layout {
        padding-left: 24px;
        padding-right: 24px;
    }
    @include for-small-layout {
        padding-left: 40px;
        padding-right: 40px;
    }
    @include for-normal-layout {
        padding-left: 40px;
        padding-right: 40px;
    }
    @include for-wide-layout {
        padding-left: 80px;
        padding-right: 80px;    
    }
    @include for-extra-wide-layout {
        padding-left: 80px;
        padding-right: 80px;    
    }
    z-index: 4;
    background-color: white;
    
    display: flex;
    justify-content: space-between;
    .filter-btn{
        justify-self: end;
        align-self: center;
        background-color: white;
        color: black;
        border: solid 1px #dddddd;
        border-radius: 12px;
        margin: 0;
        cursor: pointer;
        width: 90px;
        height: 48px;
        padding: 7px 10px;
        justify-content: space-around;
        >*{
            // width: ;
            align-self: center;
            font-family: Airbnb-Cereal-Bold;
            font-size: 12px;
        }
        >:first-child{
            padding-left: 4px;
            width: 20px;
        }       
    }
}
.header-filter-icon-carousel{
    width: 90%;
    padding-left: 45px;
    padding-right: 45px; 
}

.header-icon-filter-img{
    align-self: center;
    opacity: 0.6425339366515838;
    width: 26px !important;
    height: 26px !important;
    color: #717171;
    margin-bottom: 6px;
}



.icon-in-carousel-filter{
    color: #717171;
    cursor: pointer;
    padding: 0;
    padding-bottom: 11px;
    font-size: 14px;
    height: 68px;
    width: 100%;
    >.carousel__viewport{
        padding-top: 5px !important;
        padding-bottom: 3px;        
    }
}

.icon-in-carousel-filter:hover{
    color: black;
    border-bottom: 2px solid #717171;
    height: 70px; 
    >.header-icon-filter-img{
        opacity: 1;
    }
}

.slide-in-header{
    width: 120px;
}




// .icon-in-carousel-filter:hover{
//     color: black;
//     border-bottom: 2px solid #717171;
//     height: 58px;
//     padding-bottom: 1px;
    
// }

.header-navigate-filter-carousel{
    border-radius: 50%;
    border: 0.5px solid rgb(0 0 0 / 0.3) !important;
    z-index: 5;
    background-color: white;
    &[aria-label="Navigate to previous slide"]{
        margin-left: 0;
    }
    >.carousel__icon{
        width: 25px;
        height: 21px;
    }
}


.header-navigate-filter-carousel:hover{
    color: black;
}

.filter-modal-container{
    position: fixed;
    top: 200px;
    right: 200px;
    width: 100px;
    height: 100px;
    background-color: #717171;
}