.mobile-search-modal{
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: 3% 1fr 1fr 1fr 10%;

    grid-gap: 12px;
    > * {
        grid-column: 2;
        background-color: #FFFFFF;
    }
    position:absolute;
    z-index: 100;
    right: 0;
    top: 0;
    background-color:#F7F7F7;
    height: 100vh;
    width: 100%;

    .btn-back{
        background-color: transparent;
        color: #222222;
        width: fit-content;
        height: fit-content;
        border: none;
        text-decoration: underline;
    }
    .where-to-modal-close {
        border: none;
        color: #222222;
        border-radius: 12px;
        padding: 18px 18px;
        box-shadow: 0 1px 2px rgb(0 0 0 / 5%), 0 4px 6px rgb(0 0 0 / 3%);        
        height: fit-content;
        grid-row: 2;
    }
    .action-container {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #F7F7F7;
    }
    .tab-name {
        font-size: 14px;
        color: #717171;
        font-family: Airbnb-Cereal-Medium;
    }
    .tab-value {
        font-size: 14px;
        color: #222222
    }
}





.btn-search {
    // margin-top: 15px;
    width: 100%;
    height: 48px;
    padding: 0 0;
    margin: 0 0;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}