.reserve-modal{
    position:relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: max-content;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    grid-area: a1;
    grid-column: 2;
    
    > * {
        font-family: Airbnb-Cereal-Bold;
        text-align: start;
    }
    img{
        width: em(150px);
        height: em(90px);
    }
    
    h1,h3{
        color: black;
    }
    
    h2{
        color: rgb(241, 37, 75);
    }
    
    .your-trip{
        font-family: Airbnb-Cereal-Bold;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .end{
        padding-bottom: em(20px);
        border-bottom: 1px solid rgba(128, 128, 128, 0.3);
        margin-bottom: em(20px);
    }
    .reservation-details{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .text{
            height: em(100px);
            display: grid;
            grid-template-areas: 
                "top"
                "middle"
                "review"
            ;
            text-align: start;

            p{
                margin: 0;
                padding: 0;
                padding-left: em(10px);
            }

        }
        
       
    }
}