.reserve-modal{
    position:fixed;
    display: flex;
    flex-direction: column;
    top: rem(200px);
    bottom: rem(600px);
    right: rem(400px);
    left: rem(600px);
    width: rem(300px);
    height: max-content;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    color: rgb(241, 37, 75);
}