.stay-details{
    margin-top: 100px;
    span{
        color: black;
    }

    .img-container{
        width: fit-content;
        display: grid;
        height: 330px;

        grid-template-areas: 
            "c1 c1 c2 c3 "
            "c1 c1 c4 c5"
        ;
        grid-gap: 10px;

        > img:nth-child(1) {
            border-radius: 25px 0px 0px 25px;
            width: 320px;
            height: 330px;
            grid-area: c1;
        }
        
        > img:nth-child(2) {
            width: 160px;
            height: 160px;
            grid-area: c2;
        }
    
        > img:nth-child(3) {
            border-radius: 0px 25px 0px 0px;
            width: 160px;
            height: 160px;
            grid-area: c3;
        }
        > img:nth-child(4) {
            width: 160px;
            height: 160px;
            grid-area: c4;
        }
        > img:nth-child(5) {
            border-radius: 0px 0px 25px 0px;
            width: 160px;
            height: 160px;
            grid-area: c5;
        }
    }

    .stay-reserve{
        // position: ;
        display: flex;
        flex-direction: column;
    }
}