.container {
    max-width: 1500px;
    padding: 10px;
}

.main-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-mobile-layout {
        grid-template-columns: 
            minmax(24px, 1fr)
            minmax(auto, $padded-break-mobile)
            minmax(24px, 1fr);
    }
    @include for-narrow-layout {
        grid-template-columns: 
            minmax(24px, 1fr)
            minmax(auto, $padded-break-narrow)
            minmax(24px, 1fr);
    }
    @include for-small-layout {
        grid-template-columns: 
            minmax(40px, 1fr)
            minmax(auto, $padded-break-small)
            minmax(40px, 1fr);
    }
    @include for-normal-layout {
        grid-template-columns: 
            minmax(40px, 1fr)
            minmax(auto, $padded-break-normal)
            minmax(40px, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns: 
            minmax(80px, 1fr)
            minmax(auto, $padded-break-wide)
            minmax(80px, 1fr);
    }
    @include for-extra-wide-layout {
        grid-template-columns: 
            minmax(80px, 1fr)
            minmax($padded-break-wide, auto)
            minmax(80px, 1fr);
    }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
